<span class="relative">
  <span
    class="w-1.5 h-4 bg-blue-400 rotate-180 rounded-4xl absolute -top-0.5 bottom-0 left-1.5 z-10"
  ></span>
  <span
    class="w-1.5 h-4 bg-blue-400 rotate-90 rounded-4xl absolute -top-0.5 bottom-0 left-1.5 right-0 z-10"
  ></span>
  <span
    class="w-1.5 h-4 bg-blue-400 rotate-225 rounded-4xl absolute -top-0.5 bottom-0 left-1.5 right-0 z-10"
  ></span>
  <span
    class="w-1.5 h-4 bg-blue-400 rotate-315 rounded-4xl absolute -top-0.5 bottom-0 left-1.5 right-0 z-10"
  ></span>
  <img
    src="assets/svg/checkmark.svg"
    class="z-30 relative w-2 h-2 top-[3px] bottom-0 left-[5px] right-0"
  />
</span>
