<div class="flex flex-col justify-center items-center gap-6">
  <section class="w-full px-4 max-w-3xl">
    <post-component
      date="Apr 17, 2025"
      [imageProfile]="'assets/img/web.jpg'"
      [imagePost]="'./assets/img/logo-udemy.png'"
      [contain]="`
  <b>Curso NestJs (Udemy)</b><br>
  <i>Mar. 2025 - Abr.2025</i><br><br>

  Formación en NestJS enfocada en el desarrollo backend escalable con TypeScript. Aprendí a construir APIs RESTful, estructurar proyectos con arquitectura modular y aplicar buenas prácticas como inyección de dependencias y validación de datos.<br><br>

  <b>Aptitudes:</b><br>
  <p>- Desarrollo de APIs RESTful con NestJS, arquitectura modular y mantenible, inyección de dependencias, validación y serialización de datos, manejo de controladores, servicios y middlewares, integración con bases de datos (TypeORM/Prisma), uso de Pipes, Guards e Interceptors, autenticación y autorización (JWT, Passport).</p>
`"
    />
  </section>

  <section class="w-full px-4 max-w-3xl">
    <post-component
      date="Apr 17, 2025"
      [imageProfile]="'assets/img/web.jpg'"
      [imagePost]="'./assets/img/logo-udemy.png'"
      [contain]="`
  <b>Curso Angular Pro (Udemy)</b><br>
  <i>Mar. 2025 - Mar.2025</i><br><br>

  Formación centrada en Angular 19 siguiendo las mejores prácticas. Aprendí a construir aplicaciones escalables con componentes, servicios, routing, formularios reactivos, gestión del estado y consumo de APIs.<br><br>

  <b>Aptitudes:</b><br>
  <p>- Desarrollo de SPAs con Angular 19, arquitectura basada en componentes, manejo de formularios reactivos y template-driven, enrutamiento y lazy loading, inyección de dependencias y servicios, consumo de APIs REST, observables y programación reactiva con RxJS, mejora de rendimiento y SEO con SSR</p>
`"
    />
  </section>

  <section class="w-full px-4 max-w-3xl">
    <post-component
      date="Apr 16, 2025"
      [imageProfile]="'assets/img/web.jpg'"
      [imagePost]="'./assets/img/nebrija.png'"
      [contain]="`
  <b>UX/UI (Universidad de Nebrija)</b><br>
  <i>Ago. 2024 - Feb.2025</i><br><br>

  Curso centrado en diseño de experiencia de usuario. Aprendí a investigar necesidades del usuario, crear wireframes, prototipos y aplicar principios de usabilidad para mejorar la interacción con productos digitales.<br><br>

  <b>Aptitudes:</b><br>
  <p>- Investigación centrada en el usuario, creación de wireframes y prototipos interactivos, arquitectura de la información, principios de usabilidad y accesibilidad, pruebas de usuario y validación de interfaces.</p>
`"
    />
  </section>

  <section class="w-full px-4 max-w-3xl">
    <post-component
      date="Apr 16, 2025"
      [imageProfile]="'assets/img/web.jpg'"
      [imagePost]="'./assets/img/logo-udemy.png'"
      [contain]="`
  <b>Curso Nextjs (Udemy)</b><br>
  <i>Ago. 2024 - Sept.2024</i><br><br>

  Curso orientado a dominar el framework mas famoso de la librería de javaScript, React.<br><br>

  <b>Aptitudes:</b><br>
  <p>- Nextjs, React, TypeScript, Zustand, Redux, JWT, Docker, Prisma</p>
`"
    />
  </section>

  <section class="w-full px-4 max-w-3xl">
    <post-component
      date="Apr 15, 2025"
      [imageProfile]="'assets/img/web.jpg'"
      [imagePost]="'./assets/img/harvard.png'"
      [contain]="`
  <b>CS50 SQL, Data bases (Harvard University)</b><br>
  <i>Ene. 2023 - Dic.2023 </i><br><br>

  Curso enfocado en bases de datos relacionales con SQL. Aprendí a modelar datos, realizar consultas complejas, optimizar búsquedas y aplicar buenas prácticas de normalización.<br><br>

  <b>Aptitudes:</b><br>
    <p>- SqLite, SQL</p>
`"
    />
  </section>

  <section class="w-full px-4 max-w-3xl">
    <post-component
      date="Apr 15, 2025"
      [imageProfile]="'assets/img/web.jpg'"
      [imagePost]="'./assets/img/conquer.png'"
      [contain]="`
  <b>Máster Desarrollador Full Stack (ConquerBlocks)</b><br>
  <i>Sept. 2022 - Oct.2024 [Barcelona, España]</i><br><br>

  Máster en Desarrollo Web Full Stack en ConquerBlocks, centrado en el aprendizaje práctico de tecnologías frontend y backend modernas. Adquirí experiencia construyendo aplicaciones reales con JavaScript, Node.js, bases de datos y frameworks actuales.<br><br>

  <b>Aptitudes:</b><br>
  <ul>
    <p>- Linux, git, github, HTML, CSS, TailwindCss, javaScript, TypeScript, React, Angular, Nodejs, SQL</>
  </ol>

`"
    />
  </section>
</div>
