<div class="flex flex-col justify-center items-center dark:bg-gray-900 dark:text-white">
  <section class="w-full px-4 max-w-3xl">
    <post-component
      [date]="`Mar 30, 2025`"
      [pinned]="true"
      [comments]="12"
      [likes]="34"
      [repost]="5"
      [graph]="201"
      [imageProfile]="'assets/img/web.jpg'"
      [imagePost]="'assets/img/man.jpeg'"
      [contain]="`
      <div>¡Hola! Soy Edu, un apasionado de la programación que se dedica tanto al frontend como al backend. Mi viaje comenzó en un mundo completamente diferente, el de la nutrición. En este desarrollé una mentalidad analítica y orientada a los detalles. Con el tiempo, ese enfoque se convirtió en la base sólida para mi evolución en el desarrollo web.</div>
    <br>
Hoy, como desarrollador full stack, disfruto creando experiencias completas y funcionales.</div>

En lo personal, soy una persona tranquila y muy curiosa. En mis ratos libres me encontrarás en el gimnasio, montando en moto o investigando sobre cualquier tema.

Siempre busco aprender y evolucionar, y me encanta compartir todo lo que descubro en mi camino. ¡Gracias por visitar mi portfolio, espero que te guste lo que ves!`"
    />
  </section>
</div>
