<div class="py-6 px-4 w-full fixed bg-white/70 backdrop-blur-xs z-40">
  <section class="flex w-full justify-between">
    <div class="cursor-pointer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m10.5 21 5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 0 1 6-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 0 1-3.827-5.802"
        />
      </svg>
    </div>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 aspect-square"
      >
        <g
          class="transform-box-fill transform origin-center scale-[var(--icon-scale)] translate-y-[var(--icon-translate)]"
        >
          <path
            class="theme-toggle__status theme-toggle__sun"
            d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z"
          ></path>
          <!-- <path
            class="theme-toggle__status theme-toggle__moon"
            d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z"
          ></path> -->
        </g>
      </svg>
    </div>
  </section>
</div>
<section class="w-full flex flex-col justify-center items-center">
  <div class="relative w-full bg-blue-200 h-32 mt-20 max-w-3xl sm:h-42 lg:h-60 overflow-hidden">
    <rocket/>
  </div>
  <section class="w-full px-4 max-w-3xl">
    <div>
      <img
        src="assets/img/web.jpg"
        class="rounded-full border-3 border-yellow-700/80 w-24 h-24 relative -top-13"
      />
    </div>
  </section>
  <section class="w-full px-4 max-w-3xl">
    <div class="flex flex-col gap-0">
      <div class="flex items-center gap-3">
        <h1 class="text-3xl font-bold -mt-8">Eduardo Navío</h1>
        <span class="relative -mt-9">
          <span
            class="w-2.5 h-6 bg-blue-400 rotate-180 rounded-4xl absolute -top-0.5 bottom-0 left-1.5 z-10"
          ></span>
          <span
            class="w-2.5 h-6 bg-blue-400 rotate-90 rounded-4xl absolute -top-0.5 bottom-0 left-1.5 right-0 z-10"
          ></span>
          <span
            class="w-2.5 h-6 bg-blue-400 rotate-225 rounded-4xl absolute -top-0.5 bottom-0 left-1.5 right-0 z-10"
          ></span>
          <span
            class="w-2.5 h-6 bg-blue-400 rotate-315 rounded-4xl absolute -top-0.5 bottom-0 left-1.5 right-0 z-10"
          ></span>
          <img
            src="assets/svg/checkmark.svg"
            class="z-30 relative w-3 h-3 top-[4px] bottom-0 left-[5px] right-0"
          />
        </span>
      </div>
      <a
        href="https://www.instagram.com/naviotech/"
        target="_blank"
        class="text-gray-400 cursor-pointer"
        >{{ "@naviotech" }}</a
      >
    </div>
    <p class="mt-2">Transformando ideas a código ✨</p>
    <p>Full stack Developer</p>

    <div class="mt-8 flex items-center gap-4 flex-wrap mb-12 pr-8">
      <div class="flex items-center gap-1 -mb-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5 text-gray-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
          />
        </svg>
        <p class="text-gray-500 text-sm">Disponible</p>
      </div>
      <div class="flex items-center gap-1 -mb-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5 text-gray-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.181 8.68a4.503 4.503 0 0 1 1.903 6.405m-9.768-2.782L3.56 14.06a4.5 4.5 0 0 0 6.364 6.365l3.129-3.129m5.614-5.615 1.757-1.757a4.5 4.5 0 0 0-6.364-6.365l-4.5 4.5c-.258.26-.479.541-.661.84m1.903 6.405a4.495 4.495 0 0 1-1.242-.88 4.483 4.483 0 0 1-1.062-1.683m6.587 2.345 5.907 5.907m-5.907-5.907L8.898 8.898M2.991 2.99 8.898 8.9"
          />
        </svg>

        <p class="text-gray-500 text-sm">Links</p>
      </div>
      <div class="flex items-center gap-1 -mb-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5 text-gray-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 8.25v-1.5m0 1.5c-1.355 0-2.697.056-4.024.166C6.845 8.51 6 9.473 6 10.608v2.513m6-4.871c1.355 0 2.697.056 4.024.166C17.155 8.51 18 9.473 18 10.608v2.513M15 8.25v-1.5m-6 1.5v-1.5m12 9.75-1.5.75a3.354 3.354 0 0 1-3 0 3.354 3.354 0 0 0-3 0 3.354 3.354 0 0 1-3 0 3.354 3.354 0 0 0-3 0 3.354 3.354 0 0 1-3 0L3 16.5m15-3.379a48.474 48.474 0 0 0-6-.371c-2.032 0-4.034.126-6 .371m12 0c.39.049.777.102 1.163.16 1.07.16 1.837 1.094 1.837 2.175v5.169c0 .621-.504 1.125-1.125 1.125H4.125A1.125 1.125 0 0 1 3 20.625v-5.17c0-1.08.768-2.014 1.837-2.174A47.78 47.78 0 0 1 6 13.12M12.265 3.11a.375.375 0 1 1-.53 0L12 2.845l.265.265Zm-3 0a.375.375 0 1 1-.53 0L9 2.845l.265.265Zm6 0a.375.375 0 1 1-.53 0L15 2.845l.265.265Z"
          />
        </svg>
        <p class="text-gray-500 text-sm">Enero 31</p>
      </div>
      <div class="flex items-center gap-1 -mb-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5 text-gray-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
          />
        </svg>
        <p class="text-gray-500 text-sm">Se unió en Octubre de 2022</p>
      </div>
    </div>
    <nav class="flex justify-between mb-6 border-gray-300 lg:justify-around">
      <a class="hover:bg-gray-200 w-full text-center py-4" routerLink="/"
        ><span
          routerLinkActive="border-b-4 border-blue-400"
          [routerLinkActiveOptions]="{ exact: true }"
          class="py-2 flex-nowrap"
          >Sobre mí</span
        ></a
      >
      <a
        class="hover:bg-gray-200 w-full text-center py-4"
        routerLink="/education"
      >
        <span
          routerLinkActive="border-b-4 border-blue-400"
          [routerLinkActiveOptions]="{ exact: true }"
          class="py-2 flex-nowrap"
          >Educación</span
        ></a
      >
      <a
        class="hover:bg-gray-200 w-full text-center py-4"
        routerLink="/projects"
      >
        <span
          routerLinkActive="border-b-4 border-blue-400"
          [routerLinkActiveOptions]="{ exact: true }"
          class="py-2 flex-nowrap"
          >Proyectos</span
        ></a
      >
      <a
        class="hover:bg-gray-200 w-full text-center py-4"
        routerLink="/contact"
      >
        <span
          routerLinkActive="border-b-4 border-blue-400"
          [routerLinkActiveOptions]="{ exact: true }"
          class="py-2 flex-nowrap"
          >Contacto</span
        ></a
      >
    </nav>
  </section>
</section>
