/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
  position: relative;
  /* overflow: hidden; */
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

