.rocket_container {
  animation: rocketAnim 10s ease-in-out infinite;
  transform-origin: center center;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 40%;
}

.rocket {
  width: 22px;
  height: 50px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  position: absolute;
  left: 30%;
  top: 0%;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  border: 1.5px solid rgb(1, 1, 1);
}
.rocket2 {
  width: 22px;
  height: 48px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  position: absolute;
  left: 30%;
  top: 3%;
  background-color: rgba(174, 172, 172, 0.473);
  z-index: 3;
}
.rocket_window {
  width: 12px;
  height: 12px;
  background: rgb(92, 92, 92);
  border-radius: 50%;
  position: absolute;
  left: 39%;
  top: 20%;
  z-index: 3;
}
.rocket_window2 {
  width: 10px;
  height: 10px;
  background: rgb(11, 142, 178);
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: 22%;
  z-index: 4;
}
.rocket_spoiler {
  width: 40px;
  height: 16px;
  background-color: rgb(194, 7, 7);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 1px solid rgb(133, 15, 15);
  position: absolute;
  left: 16%;
  top: 55%;
  z-index: 0;
}
.turbo {
  position: absolute;
  width: 12px;
  height: 5px;
  background: black;
  left: 39%;
  top: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;
}

.flames {
  position: absolute;
  top: 60%;
  left: 49%;
  transform: translateX(-50%) rotate(45deg);
  width: 10px;
  height: 30px;
  background: radial-gradient(circle, orange 10%, red 70%, transparent 100%);
  border-radius: 50%;
  animation: flame-flicker 0.2s infinite;
  box-shadow: 0 0 20px orange;
  z-index: 0;
}

@keyframes flame-flicker {
  0% {
    transform: translateX(-50%) scaleY(1);
  }
  50% {
    transform: translateX(-50%) scaleY(1.2);
  }
  100% {
    transform: translateX(-50%) scaleY(1);
  }
}

@keyframes rocketAnim {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-40px) rotate(45deg);
  }
  45% {
    transform: translateY(0) rotate(0deg);
  }
  70% {
    transform: translateY(40px) rotate(0deg);
  }

  90% {
    transform: translateY(-40px) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

/*-------*/

.cloud {
  position: absolute;
  top: -80px;
  width: 100px;
  height: 60px;
  opacity: var(--o, 0.8);
  transform: scale(var(--s, 1));
  pointer-events: none;
  z-index: 0;
  animation: cloud-move var(--dur, 4s) linear infinite;
  animation-delay: var(--delay, 0s);
}

.bubble {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  filter: blur(1px);
}

.b1 {
  width: 40px;
  height: 40px;
  top: 10px;
  left: 0px;
}
.b2 {
  width: 50px;
  height: 50px;
  top: 0px;
  left: 20px;
}
.b3 {
  width: 45px;
  height: 45px;
  top: 5px;
  left: 50px;
}
.b4 {
  width: 35px;
  height: 35px;
  top: 15px;
  left: 70px;
}
.b5 {
  width: 30px;
  height: 30px;
  top: 20px;
  left: 35px;
}

@keyframes cloud-move {
  0% {
    transform: translateY(0) scale(var(--s, 1));
    opacity: var(--o, 0.8);
  }
  100% {
    transform: translateY(120vh) scale(var(--s, 1));
    opacity: 0;
  }
}

/*----*/
.smoke-trail {
  position: absolute;
  top: 110%;
  left: 54%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  z-index: 0;
  pointer-events: none;
}

.smoke {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(114, 114, 114, 0.753);
  border-radius: 50%;
  animation: smoke-animation 2s ease-out infinite;
  filter: blur(2px);
}

@keyframes smoke-animation {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.5;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(60px) scale(1.8);
    opacity: 0;
  }
}
/**/
.bird-wrapper {
  position: absolute;
  top: -10px;
  left: 60%;
  animation: birds-move var(--dur, 15s) linear infinite;

  z-index: 0;
}

.bird {
  position: relative;
  width: 100px;
  height: 50px;
  transform: rotate(15deg);
}

.body {
  position: absolute;
  width: 40px;
  height: 15px;
  background: rgb(246, 219, 174);
  border-radius: 50%;
  left: 40%;
  top: 30%;
  z-index: 2;
  transform: rotate(-40deg);
}

.tail {
  position: absolute;
  width: 20px;
  height: 3px;
  background: rgb(145, 83, 55);
  border-radius: 50% 0 0 50%;
  border:1px solid rgb(117, 67, 44);
  left: 30%;
  top: 65%;
  transform: rotate(-30deg);
  z-index: 1;
}
.tail2 {
  position: absolute;
  width: 20px;
  height: 3px;
  background: rgb(145, 83, 55);
  border-radius: 50% 0 0 50%;
  border:1px solid rgb(117, 67, 44);
  left: 30%;
  top: 63%;
  transform: rotate(-20deg);
  z-index: 1;
}
.tail3 {
  position: absolute;
  width: 20px;
  height: 3px;
  background: rgb(145, 83, 55);
  border-radius: 50% 0 0 50%;
  border:1px solid rgb(117, 67, 44);
  left: 32%;
  top: 66%;
  transform: rotate(-40deg);
  z-index: 1;
}

.beak {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid #f39d12f8;
  border-top: 3px solid transparent;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 20px;
  left: 75px;
  top: 10px;
  z-index: 3;
}
.head {
  width: 15px;
  height: 8px;
  background: rgb(109, 88, 80);
  border-top-left-radius: 50px;
  border-top-right-radius: 100px;
  position: absolute;
  left: 62px;
  top: 8px;
  z-index: 3;
  transform: rotate(-25deg);
}
.head2 {
  width: 14px;
  height: 8px;
  background: rgb(213, 144, 91);
  border-top-left-radius: 50px;
  border-top-right-radius: 70px;

  position: absolute;
  left: 62px;
  top: 12px;
  z-index: 2;
  transform: rotate(-190deg);
}

.eye {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: black;
  border-radius: 50%;
  top: 20%;
  left: 70%;
  z-index: 4;
}
.body2{
  position: absolute;
  width: 35px;
  height: 10px;
  background: rgb(145, 83, 55);
  border-radius: 50%;
  left: 39%;
  top: 34%;
  z-index: 2;
  transform: rotate(-43deg);
  z-index: 3;
}
.leg{
  width: 2px;
  height: 1px;
  position: absolute;
  background: rgb(76, 58, 52);
  left: 55%;
  top: 65%;
  z-index: 3;
  transform: rotate(0deg);
}
.leg2{
  width: 2px;
  height: 1px;
  position: absolute;
  background: rgb(76, 58, 52);
  left: 57%;
  top: 64%;
  z-index: 3;
  transform: rotate(0deg);
}

.wing {
  position: absolute;
  background: rgb(145, 83, 55);
  width: 10px;
  height: 12px;
  left: 50%;
  top: 26%;
  z-index: 3;
  animation: flap 0.6s ease-in-out infinite;
  transform-origin: center;
  z-index: 4;
  transform: rotate(45deg);
}
.feather{
  position: absolute;
  background: rgb(145, 83, 55);
  width: 8px;
  height: 5px;
  border: 1px solid rgb(48, 29, 20);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 5px;
  border-top:none;
  border-left: none;
  border-right: none;
  left: -40%;
  top: 0%;
  z-index: 3;
  animation: flap 0.6s ease-in-out infinite;
  transform-origin: center;
  z-index: 4;
  transform: rotate(-15deg);
}
.feather2{
  position: absolute;
  background: rgb(145, 83, 55);
  width: 8px;
  height: 5px;
  border: 1px solid rgb(48, 29, 20);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 5px;
  border-top:none;
  border-left: none;
  border-right: none;
  left: -30%;
  top: 30%;
  z-index: 3;
  animation: flap 0.6s ease-in-out infinite;
  transform-origin: center;
  z-index: 4;
  transform: rotate(-15deg);
}
.feather3{
  position: absolute;
  background: rgb(145, 83, 55);
  width: 8px;
  height: 5px;
  border: 1px solid rgb(48, 29, 20);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 5px;
  border-top:none;
  border-left: none;
  border-right: none;
  left: -10%;
  top: 70%;
  z-index: 3;
  animation: flap 0.6s ease-in-out infinite;
  transform-origin: center;
  z-index: 4;
  transform: rotate(-15deg);
}
.feather4{
  position: absolute;
  background: rgb(145, 83, 55);
  width: 8px;
  height: 5px;
  border: 1px solid rgb(48, 29, 20);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 5px;
  border-top:none;
  border-left: none;
  border-right: none;
  left: 30%;
  top: 90%;
  z-index: 3;
  animation: flap 0.6s ease-in-out infinite;
  transform-origin: center;
  z-index: 4;
  transform: rotate(-30deg);
}

.feather_big{
  position: absolute;
  background: rgb(80, 57, 51);
  width: 15px;
  height: 3px;
  border: 1px solid rgb(48, 29, 20);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 10px;
  border-top:none;
  border-left: none;
  border-right: none;
  left: -140%;
  top: 20%;
  z-index: 3;
  animation: flap 0.6s ease-in-out infinite;
  transform-origin: center;
  z-index: 3;
  transform: rotate(-15deg);
}
.feather_big2{
  position: absolute;
  background: rgb(80, 57, 51);
  width: 15px;
  height: 3px;
  border: 1px solid rgb(48, 29, 20);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 10px;
  border-top:none;
  border-left: none;
  border-right: none;
  left: -160%;
  top: 40%;
  z-index: 3;
  animation: flap 0.6s ease-in-out infinite;
  transform-origin: center;
  z-index: 3;
  transform: rotate(-15deg);
}
.feather_big3{
  position: absolute;
  background: rgb(80, 57, 51);
  width: 15px;
  height: 3px;
  border: 1px solid rgb(48, 29, 20);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 10px;
  border-top:none;
  border-left: none;
  border-right: none;
  left: -130%;
  top: 60%;
  z-index: 3;
  animation: flap 0.6s ease-in-out infinite;
  transform-origin: center;
  z-index: 3;
  transform: rotate(-20deg);
}
.feather_big4{
  position: absolute;
  background: rgb(80, 57, 51);
  width: 15px;
  height: 3px;
  border: 1px solid rgb(48, 29, 20);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 10px;
  border-top:none;
  border-left: none;
  border-right: none;
  left: -100%;
  top: 71%;
  z-index: 3;
  animation: flap 0.6s ease-in-out infinite;
  transform-origin: center;
  z-index: 3;
  transform: rotate(-25deg);
}
.feather_big5{
  position: absolute;
  background: rgb(80, 57, 51);
  width: 15px;
  height: 3px;
  border: 1px solid rgb(48, 29, 20);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 10px;
  border-top:none;
  border-left: none;
  border-right: none;
  left: -80%;
  top: 80%;
  z-index: 3;
  animation: flap 0.6s ease-in-out infinite;
  transform-origin: center;
  z-index: 3;
  transform: rotate(-30deg);
}
.feather_big6{
  position: absolute;
  background: rgb(80, 57, 51);
  width: 12px;
  height: 3px;
  border: 1px solid rgb(48, 29, 20);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 10px;
  border-top:none;
  border-left: none;
  border-right: none;
  left: -40%;
  top: 100%;
  z-index: 3;
  animation: flap 0.6s ease-in-out infinite;
  transform-origin: center;
  z-index: 3;
  transform: rotate(-35deg);
}
.feather_big7{
  position: absolute;
  background: rgb(80, 57, 51);
  width: 10px;
  height: 3px;
  border: 1px solid rgb(48, 29, 20);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 10px;
  border-top:none;
  border-left: none;
  border-right: none;
  left: -5%;
  top: 110%;
  z-index: 3;
  animation: flap 0.6s ease-in-out infinite;
  transform-origin: center;
  z-index: 3;
  transform: rotate(-35deg);
}
.feather_big8{
  position: absolute;
  background: rgb(80, 57, 51);
  width: 7px;
  height: 3px;
  border: 1px solid rgb(48, 29, 20);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 10px;
  border-top:none;
  border-left: none;
  border-right: none;
  left:40%;
  top: 120%;
  z-index: 3;
  animation: flap 0.6s ease-in-out infinite;
  transform-origin: center;
  z-index: 1;
  transform: rotate(-45deg);
}

@keyframes flap {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}
@keyframes birds-move {
  0% {
    transform:translateX(0) translateY(0) ;
  }
  100% {
    transform:translateX(-1000px)  translateY(100vh);
    opacity: 0;
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  animation: twinkle 1.5s infinite alternate;
  opacity: 0;
}

@keyframes twinkle {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.star:nth-child(odd) {
  animation-duration: 2s;
  animation-delay: calc(-1s * random());
}

.star:nth-child(even) {
  animation-duration: 3s;
  animation-delay: calc(-1s * random());
}
